.padded-explications {
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.padded-h2 {
  padding-bottom: 25px;
}

.padded-h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padded-p {
  padding-top: 25px;
  padding-bottom: 10px;
}

.body-bet{
  background-color: #e3e7ef;
  color: black;
  height: 100%;
}

.bet_button{
  padding: 15px 20px;
  margin: 5px;
  background: #F3AC3C !important;
  color: white !important;
}

.btn-margin {
  margin-top: 50px;
}

.form_background{
  background: white;
  min-height: 300px;
  border-top: 3px solid #F3AC3C;
}

.beters-container{
  background-color: white;
  box-shadow: 5px 3px 5px lightgrey;
  display: flex;
  flex-direction: column;
  min-height: 965px;
  color: black;
}

.margin_avatar{
  margin: 5px;
}
