.padded-explications {
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.padded-h2 {
  padding-bottom: 25px;

}

.padded-h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padded-p {
  padding-top: 25px;
  padding-bottom: 10px;
}

.btn-margin {
  margin-top: 50px;
}

.form_background{
  background: white;
  min-height: 300px;
  border-top: 3px solid #F3AC3C;
}

.margin_avatar{
  margin: 5px;
}
