

.body-bet{
  background-color: #e3e7ef;
  color: $black;
  height: 100%;
}


.margin-button{
  margin-top: 20px;
}

.edit-icon {
  margin-top: 15px;
  margin-right: 15px;
}

.description_background{
  background: white;
  min-height: 300px;
  border-top: 3px solid #F3AC3C;
}

.challenge_background{
  background: white;
  min-height: 200px;
  border-top: 3px solid #F3AC3C;
}

.bet_amount_background{
  background-color: white;
  min-height: 100px;
  padding: 15px;
  border-top: 3px solid #F3AC3C;
}


.deadline{
  background-color: white;
  border-top: 3px solid #F3AC3C;
}

.profile-container {
  background-color: white;
  box-shadow: 5px 3px 5px lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  color: black;
  border-top: 3px solid #F3AC3C;

}

.beters-container{
  background-color: white;
  box-shadow: 5px 3px 5px lightgrey;
  display: flex;
  flex-direction: column;

  min-height: 200px;
  color: black;
  border-top: 3px solid #F3AC3C;
}


.odd-background{
  background-color: white;
  min-height: 200px;
  padding: 15px;
  border-top: 3px solid #F3AC3C;
  position: relative;
}

#validate-bet-div {
  position: absolute;
  left: 355px;
  bottom: 35px;
}

.bet-btn {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

.flex_odd{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}



.choices-background{
  background: white;
  min-height: 300px;
  border-top: 3px solid #F3AC3C;
}

.placeholder{
  color: #bfbfbf;
  box-shadow: 0px 2px 5px #ededed;
}
