
.div-scroll {
  width: auto;
  height: 600px;
  overflow: scroll;
  overflow-x: visible;
  margin-bottom: 100px;
}



.wrapperuser {
  background: $gradient;
  position: relative;
  height: 400px;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style: none;
    margin-top: 20px;

  }
}

.texthelp {
  font-size: 10px;
  font-style: italic;
}

.tabs {
  display: flex;

  justify-content: center;
  align-items: center;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  color: $blue;
}

.tab {
  background: white;
  opacity: 0.6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  opacity: 1;
}


.borders {
  padding: 10px;
 }

.dashboard-card {
    border-radius: $border-radius-small;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    height: 160px;
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 30px;
    li {
    list-style: none;
    margin-top: 20px;

  }

}

.dashboard-card:hover {
  color: #3C90F7;
}



.dashboard-card-taux {
    border-radius: $border-radius-small;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    height: 120px;
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;

}

.dashboard-card-finish {
    border-radius: $border-radius-small;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    height: 200px;
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 30px;
    li {
    list-style: none;
    margin-top: 20px;

  }


}

.dashboard-card-finish-yours {
    border-radius: $border-radius-small;
    box-shadow: 0 1px 4px rgba(0,0,0,.23);
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    height: 160px;
    max-width: 245px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 30px;
    li {
    list-style: none;
    margin-top: 20px;
  }
}

