/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper {
  background: #EDEDED;
}

.form-control {
  color: $black;
}

.banner {
  h1 {
    padding-top: 1em;
  };
  h3 {
    padding: 1em 0 2em 0;
  }
}

.mostpopular {

  h2 {
    padding-bottom: 1.5em;
    color: $black;
    font-family: 'Montserrat', sans-serif;


  }
}

.process {
  h2 {
    padding-bottom: 1.5em;
    color: $black;
    font-family: 'Montserrat', sans-serif;
  }
  h3 {

    font-size: 22px;
    color: gray;
    font-family: 'Josefin Sans', sans-serif;
  }
}
.avatarhome {
  width: 100px;
}

.avatarhome:hover {
  opacity: 3px;
}

.circle1 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 48px;
}

.circle2 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 25px;
}
.circle3 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
}
.circle4 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 25px;
}

.banner-wagon-button {
  text-decoration: none;
  margin-left: 10px;
  padding: 20px 20px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $blue;
  color: white;
  font-size: 20px;
  font-family: $base-font;
}
.banner-wagon-button:hover {
  color: white;
  background: $orange;
  text-decoration: none;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: $header-font;
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  font-family: $base-font;
}
