/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.form-control {
  color: $black;
}

.wrapper {
  background: #EDEDED;
}

.wrapperuser {
  background: $gradient;
  position: relative;
  height: 400px;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style: none;
    margin-top: 20px;

  }
}

.tabs {
  display: flex;

  justify-content: center;
  align-items: center;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  color: $blue;

}


.tab {
  background: white;
  opacity: 0.6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  opacity: 1;
}


.banner {
  h1 {
    padding-top: 1em;
  };
  h3 {
    padding: 1em 0 2em 0;
  }
}

.mostpopular {

  h2 {
    padding-bottom: 1.5em;
    color: $black;
  }
}

.process {
  h2 {
    padding-bottom: 1.5em;
    color: $black;
  }
  h3 {

    font-size: 22px;
    color: gray;
  }
}
.avatarhome {
  width: 100px;
}

.avatarhome:hover {
  opacity: 3px;
}



.circle1 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 48px;
}

.circle2 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 25px;
}
.circle3 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
}
.circle4 {
  display: inline-block;
  width: 34px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  background-color: $orange;
  color: white;
  // font-family: $special-font;
  line-height: 1.4;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 25px;
}
.btn-voirplus {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 5px;
  line-height: 40px;
  color: white;
  background-color: $blue;
  font-size: 14px;
}

.btn-voirplus:hover {
  background: $orange;
}
.navbar-wagon-button:hover {
  color: white;
  background: $orange;

}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
