<div class="container padded">
  <div id="filter-bar">
    <div class="titre">
      Categories
    </div>
    <ul>
      <li><%= link_to "Tous", "#", data: { filter: "all" } %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, "#", data: { filter: category.id } %></li>
      <% end %>
    </ul>
  </div>
  <div class="filtr-container">
    <% @bets.each do |bet| %>
      <div class="card-box col-md-4 col-sm-6">
        <div class="card" data-color="orange">
          <div class="content card-content">
            <h4 class="description text-center"><%= bet.title %></h4>
            <div class="btn-center">
              <button class="btn btn-neutral btn-fill btn-modern">Je parie</button>
            </div>
            <div class="filter"></div>
          </div><!-- content -->
          <div class="card-social social-line" data-buttons="3">
            <button class="btn btn-social btn-facebook">
              <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-social btn-twitter">
              <i class="fa fa-twitter"></i>
            </button>
            <button class="btn btn-social btn-pinterest">
              <i class="fa fa-pinterest"></i>
            </button>
          </div><!-- social-line -->
        </div><!-- card -->
      </div>
    <% end %>
  </div>
</div>

