<div class="wrapper body-bet">
  <div class="container padded-bet-new">

    <div class="col-xs-10 col-xs-offset-1">
      <div class="row row-margin form_background" >
        <div class="padded-explications">

          <h2 class="text-center padded-h2">Créer un pari</h2>

          <div>
            <p><small>
              1. Propose ton pari à travers un titre (ex: une question) et choisis les possibilités de réponses sur lesquelles les prochains parieurs pourront miser.
            </small></p>
            <p><small>
              2. Propose un gage pour le ou les joueurs qui n'auront pas parié sur le bon choix et qui auront donc perdu leur mise. S'ils relèvent le défi, ils pourront récupérer une partie de leur mise perdue ! <br>
              Par défaut, le contenu du gage que tu dois renseigner dans le formulaire ci-dessous sera caché et sera dévoilé aux joueurs seulement après qu'ils aient joué. <br>
              Donc n'en dis pas trop dans le titre du gage mais mets le(s) perdant(s) sur la piste en donnant une petite indication sur la nature du défi à relever ! ;)
            </small></p>
            <p><small>
              3. Il ne te reste plus qu'à donner une date limite à ton pari et le tour est joué !
            </small></p>
          </div>
        </div>
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>
