<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <%= link_to "Home", root_path %>
      <% if current_user %>
        <%= link_to "My profile", user_path(current_user) %>
      <% else %>
        <%= link_to "My profile", new_user_session_path %>
      <% end %>
    </p>
  </div>
  <div class="share-links">
    <a href="#" class="share-link bg-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="share-link bg-twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </div>
</footer>
