<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path "background"%>);">
  <div class="banner-content">
    <h1>Pariez entre amis ! </h1>
    <p>Créez vos paris sur tout et n'importe quoi et faites jouer vos amis !</p>
    <a class="btn btn-primary btn-lg">CRÉER UN PARIS</a>
  </div>
</div>

  <div class="container text-center padded">
    <div class="row">
      <h2>HOW IT WORK</h2>

  </div>

  <div class="container text-center padded">
    <div class="row">
      <h2>LES PLUS POPULAIRE</h2>

  </div>
</div>


