// Your footer style

.footer-distributed {
  background-color: #9e9e9e;
  box-shadow: 0, 1px, 1px, 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 90px;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }
}
