/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Paddings
.padded {
  padding-top: 6em;
  padding-bottom: 5em;
}

.padded-top {
  padding-top: 6em;
}

.padded-bottom {
  padding-bottom: 6em;
}

.padded-text{
  padding: 50px;
}

.block-align {
  text-align: center;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.paddedform {
  padding-top: 20px;
  text-decoration: none;
}
