.social-connect-button {
  flex: 0 0 49%;

  #scb-facebook-icon {
    border-radius: 2px;
    border: 1px solid #3461D0;
  }

  #scb-twitter-icon {
    border-radius: 2px;
    border: 1px solid #00A2F9;
  }
}
